body {
margin: 0;

}

.x-navbar {
 
    background: transparent;
position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    text-align: center;
    padding-top: 30px;

}


.nav-list {

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;

}

.nav-list li a {

    padding: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.1s ease-in;
    margin: 0;
    border: none;
    text-align: center;
}



.nav-list li a:hover{

    opacity: 80%;
    font-size: 17px;

}

   
    



 .logo {

    width: 120px;
    padding-right: 40px;
    padding-left: 40px;
}

 

.logo:hover {

transform: rotateY(360deg);

}

.logo {

    transition: transform .7s ease-in-out;
    cursor: pointer;

    
}

h2 {

    text-align: center;
}


.header {

    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    text-align: center;

}

.first-header {

    font-size: 50px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    opacity: 90%;
}

.button {

    display: flex;
    justify-content: center;
    align-items: center;
}

.join {

    background-color: transparent;
    font-size: 20px;
    border: solid 0.5px white;
    font-family: quicksand;
    padding-right: 25px;
    padding-left: 25px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.join:hover {

    background: white;
    color: black;
    border-color: black;
}

.container {

    width: 100%;
    height: 600px;

}

main {

    background-image: url(https://static01.nyt.com/images/2021/08/16/business/16amazon1/merlin_187804560_96b0219b-1863-4423-90e0-6b9781aee731-articleLarge.jpg?quality=75&auto=webp&disable=upscale); background-position: center;
    background-size: cover;

}

.panel {

    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    padding-top: 80px;
    }

.mini-panel {

    display: inline-block;
    justify-content: center;
    align-items: center;
    padding:100px;
    text-align: center;
    border: 0.5px solid     #efefef;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    max-width: 200px;
    
}


    
    .panel-descriere {

        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        height: 300px;
        
    }

    .desc-head {

        display: inline;
        padding-right: 100px;
        margin: 0;
        padding-left: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        
    }

    .desc-para {

        display: inline;
        font-family: quicksand;
        font-size: 20px;
        padding-top: 40px;
    }

    .hrul {

        border-color: rgb(32, 109, 197);
        background-color: rgb(32, 109, 197);
        height: 10px;
        border-radius: 8px;


    }

    .suna {

        background-color: rgb(32, 109, 197);
        color: white;
        padding: 5px 20px 5px 20px;
        border-radius: 8px;
        font-size: 18px;
        border: none;
        font-family: poppins;
        cursor: pointer;
        transition: 0.5s all ease;
        }

        .suna:hover {

            opacity: 70%;
        }

.nume {

    font-size: 30px;
    font-family: open sans;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 0.5px solid #efefef;

}

.lista-descriere {

    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;

    
}
.descriere {

    text-align: center;
    font-family: quicksand;
    padding-top: 10px;
    font-size: 20px;



}

.descriere:nth-child(2) {

    border-bottom: 0.5px solid #efefef;
    color: rgb(32, 109, 197);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    padding-top: 20px;

}

.contact {

    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(32, 109, 197);
    transition: all 0.5s ease-in;
}

.panel-img {

    width: 100%;
    border-radius: 50%;
    height: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.buttonn {

    padding-top: 20px;
}

.contact:hover {

    color: rgb(32, 109, 197);
    background-color: white;
}




input[type=checkbox] {
    display: none;

  } 

  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none; }

  @media (max-width: 768px) {
    .nav-list a {
       display:none;
       position: absolute;
       background-color:teal;
       right: 0;
       left: 0;
       text-align: center;
       padding: 16px 0; }

       input[type=checkbox]:checked ~ .nav-list a {
        display: block; }

        .hamburger {
            display: block;
            color: white;
          }

          .logo {
            padding-left: 10px;
          }

          .first-header {
font-size: 30px;
            
          }

          .join {

            font-size: 10px;
          }

@media (max-width:768px) {

    .panel {
        flex-direction: column;
    }

    .mini-panel {

        width: 200px;
    }
}

@media (max-width:768px) {
    
    .panel-descriere {

        height: 400px;
        flex-direction: column;
        text-align: center;
    }
    .desc-head {

        
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-align: center;

    }
    .desc-para {

        font-size: 14px;
        text-align: center;
    }
}

       




